// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.top-right {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 20px;

}